In [194]:
import pandas as pd

In [195]:
predf = pd.read_csv('..\data\preprocessed_data.csv')

In [196]:
predf

        Unnamed: 0  user_id  item_id  similarity_score  response
0                0        0        0          1.000000         1
1                1        1        0         -0.932900         0
2                2        2        0          0.991195         1
3                3        3        0          0.853615         1
4                4        4        0         -0.188428         0
...            ...      ...      ...               ...       ...
806399      806399      893      897         -0.997454         0
806400      806400      894      897         -0.165052         0
806401      806401      895      897          0.291727         0
806402      806402      896      897         -0.095428         0
806403      806403      897      897          1.000000         1

[806404 rows x 5 columns]

In [197]:
predf.isnull().values.any()

False

In [198]:
predf=predf.drop(['Unnamed: 0'], axis=1)

In [199]:
predf

        user_id  item_id  similarity_score  response
0             0        0          1.000000         1
1             1        0         -0.932900         0
2             2        0          0.991195         1
3             3        0          0.853615         1
4             4        0         -0.188428         0
...         ...      ...               ...       ...
806399      893      897         -0.997454         0
806400      894      897         -0.165052         0
806401      895      897          0.291727         0
806402      896      897         -0.095428         0
806403      897      897          1.000000         1

[806404 rows x 4 columns]

In [200]:
import random

In [201]:
def epsilon_greedy_bandit(dataset, num_arms, epsilon, num_rounds):
    estimated_rewards = [0] * num_arms
    total_rewards = 0
    exploration_count = 0
    exploitation_count = 0

    for _ in range(num_rounds):
        if random.random() < epsilon:
            # Explore: Choose a random arm
            chosen_arm = random.randint(0, num_arms - 1)
            exploration_count += 1
        else:
            # Exploit: Choose the arm with the highest estimated reward
            chosen_arm = max(range(num_arms), key=lambda arm: estimated_rewards[arm])
            exploitation_count += 1

        # Observe the reward (response) for the chosen arm
        reward = dataset.iloc[chosen_arm]['response']
        total_rewards += reward

        # Update the estimated reward for the chosen arm
        estimated_rewards[chosen_arm] += (reward - estimated_rewards[chosen_arm]) / (total_rewards + 1)

    return estimated_rewards, exploration_count, exploitation_count

# Example usage
num_arms = 1000  # Number of items
epsilon = 0.1  # Exploration parameter
num_rounds = 1000  # Number of interactions

estimated_rewards, exploration_count, exploitation_count = epsilon_greedy_bandit(predf, num_arms, epsilon, num_rounds)

# Print results
print(f"Estimated rewards for each arm: {estimated_rewards}")
print(f"Exploration count: {exploration_count}")
print(f"Exploitation count: {exploitation_count}")

Estimated rewards for each arm: [0.9986124348139096, 0, 0.002421307506053269, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.003246753246753247, 0, 0.001440922190201729, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0.02631578947368421, 0.00303951367781155, 0, 0.0, 0.001941747572815534, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.004347826086956522, 0, 0, 0.0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0.003134796238244514, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0.001692047377326565, 0, 0, 0, 0.003787878787878788, 0.0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0.0, 0, 0.001303780964797914, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0031545741324921135, 0, 0, 0, 0, 0, 0.004329004329004329, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.019230769230769232, 0, 0.0016233766233766235, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0.0, 0.0045871559633027525, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0.0625, 0, 0, 0.0024096385542168677, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0.002932551319648094, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0.0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0.0012804097311139564, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0018484288354898336, 0.003289473684210526, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0.0, 0.001644736842105263, 0, 0, 0, 0, 0, 0, 0.0045045045045045045, 0.0, 0.0011890606420927466, 0.0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0.001183431952662722, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.015384615384615385, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0.002331002331002331, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.001639344262295082, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0011061946902654867, 0, 0, 0, 0, 0.0017421602787456446, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0014044943820224719, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0.01639344262295082, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0.0021551724137931034, 0, 0.0, 0, 0, 0, 0.002347417840375587, 0, 0, 0, 0, 0.01, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0.004484304932735426, 0, 0, 0, 0, 0, 0, 0.0, 0.005495753281555162, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0.0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.003663003663003663, 0, 0, 0, 0.007518796992481203, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0.0, 0, 0, 0.0014104372355430183, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0.0, 0, 0, 0, 0, 0, 0, 0]
Exploration count: 119
Exploitation count: 881